<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      div {
          width: 500px;
          height: 400px;
          border: 2px solid black;
          position: relative;
      }

      video {
          width: 500px;
          height: 400px;
          object-fit: cover;
      }
  </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Project for Educational Purpose Only</p>
  </body>
</html>
